/*
 * Paper Miner
 *
 * v 1.0 2013-01-07
 */
body {
	background: white url(../images/paper11.gif);
	width: 840px;
	margin: 0;
	padding: 0;
}

div.content {
	font-family: Verdana, 'Trebuchet MS', Tahoma, Geneva, Ariel, sans-serif;
	font-size: 16px;
	color: black;
	width: 840px;
	position: absolute;
	left: 50%;
	margin-left: -420px;
}

div#header-bar {
	background-image: url(../images/pm-logo2a.png);
	background-repeat: no-repeat;
	margin-top: 5px;
	margin-bottom: -20px;
	width: 100%;
}

div#menu-bar {
	width: 800px;
	height: 40px;
	display: block;
	margin: 0 auto;
}

div#map-canvas {
	width: 700px;
	height: 520px;
	z-index: 21;
}

div#map-sidebar {
 z-index:21;
 position:absolute;
 top:60px;
 left:730px;
}

div#map-sidebar h4 {
font-size: .86em;
font-weight: normal;
margin-bottom: 0px;
}

div#map-options {
 margin-top:16px;
 margin-bottom:8px;
 font-size:12px;
}

div#y2k-section {
	width: 820px;
}

div#y2k-timespan {
	margin-top: 16px;
	margin-bottom: 22px;
}

div#y2k-timeline {
	height: 20px;
	background-image: url(../images/bg13.png);
}

div.year-marker {
	width: 3px;
	height: 20px;
	position: absolute;
}

div.yblock {
	display: inline-block
}

.eg {
	display: block
}

a.timeline-hotspot {
	top: 0;
	left: 0;
	width: 4px;
	height: 20px;
	position: absolute;
}

div#histogram {
	min-width: 840px;
	height: 400px;
	margin: 0 auto
}

div#histogram2 {
	min-width: 840px;
	height: 400px;
	margin: 0 auto
}

div#wordcloud {
	width: 550px;
	height: 350px;
	position: relative;
	left: 50%;
	margin-left: -275px;
}

div#raw-list-container {
	width: 120px;
	height: 500px;
	overflow: auto;
	border: 1px solid;
	border-radius: 8px;
	background-color: #eeeeee;
	padding: 10px;
	margin-botton: 16px;
}

div#raw-record-container {
	width: 660px;
	height: 450px;
	overflow: auto;
	border: 1px solid;
	border-radius: 8px;
	background-color: #eeeeee;
	padding: 8px;
}

div#raw-ctl {
	width: 660px;
	height: 28px;
	border: 1px solid;
	border-radius: 8px;
	background-color: #eeeeee;
	padding: 8px;
	margin-top: 4px;
}

div#record-text-container {
	width: 480px;
	height: 450px;
	overflow: auto;
	border: 1px solid;
	border-radius: 8px;
	background-color: #eeeeee;
	padding: 8px;
}

div#location-list-container {
	width: 300px;
	height: 450px;
	overflow: auto;
	border: 1px solid;
	border-radius: 8px;
	background-color: #eeeeee;
	padding: 8px;
}

div.help {
	text-align: justify;
	margin-left: 10px;
}

div.indent {
	margin-left: 18px;
}

div.paneContainer {
	float: right;
	height: 440px;
	width: 830px;
	padding: 3px;
}

div.pm-button-bar {
	float: right;
	margin-top: 4px;
	margin-right: 6px;
	margin-bottom: 6px;
}

div#working-pane {
	width: 300px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -100px 0 0 -150px;
	background: black;
	alpha: .3;
	-webkit-border-radius: 8px;
	-webkit-box-shadow: 5px 5px 12px #777;
	-moz-border-radius: 8px;
	-moz-box-shadow: 5px 5px 12px #777;
}

div.marker-popup {
	font-size: 13px;
}

div#terms-of-use {
	font-size: 12px !important;
}

span#tou-link {
	font-size: 12px !important;
}

h1 {
	text-align: center;
}

h3.help-h3 {
	margin-bottom: 0px;
}

h4.help-h4 {
	margin-bottom: 0px;
}

*#help-pm h2 {
	margin-bottom: 2px;
}

*#help-pm p {
	margin-top: 6px;
}

*.indent p {
	margin-top: 4px;
	margin-bottom: 8px;
}

hr.pm-button-sep {
	margin-bottom: 0;
}

p {
	margin-bottom: 18px;
}

li {
	padding-left: 15px;
	padding-right: 25px;
}

.spinner {
	width: 60px;
	height: 60px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 30px;
}

#nav-wrapper {
	width: 820px;
	margin: 0 auto;
	background: grey;
	border-radius: 8px;
	box-shadow: 5px 5px 12px #777;
	-webkit-border-radius: 8px;
	-webkit-box-shadow: 5px 5px 12px #777;
	-moz-border-radius: 8px;
	-moz-box-shadow: 5px 5px 12px #777;
}

/* TOP LEVEL */
ul.dropdown {
	list-style: none;
	position: relative;
	padding: 0 0;
	margin-bottom: 0;
}

ul.dropdown li {
	font-weight: normal;
	float: left;
	background: grey;
	font-size: 20px;
}

ul.dropdown li a {
	display: block;
	color: #DCF4F4;
	margin-right: 5px;
	padding: 8px 0 5px 8px;
}

ul.dropdown li:hover {
	position: relative;
}

ul.dropdown li:hover a {
	text-decoration: none;
	color: white;
}

ul.dropdown li a:visited {
	color: #DCF4F4;
}

ul.dropdown li.greyed {
	font-style: italic;
	font-weight: normal;
	padding-left: 09px;
	color: grey !important;
}

ul.dropdown li.active {
	font-style: normal;
	font-weight: normal;
}

/* FIRST LEVEL */
ul.dropdown ul {
	z-index: 27;
	list-style: none;
	width: 220px;
	visibility: hidden;
	position: absolute;
	left: 5px;
	margin-bottom: 0px;
}

ul.dropdown ul li {
	font-size: 14px;
	background: #eeeeee;
	color: #384E80;
	border: 1px solid #dddddd;
	float: none;
	padding: 2px 4px;
}

/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a {
	color: black;
	font-weight: normal;
	width: 100%;
	display: inline-block;
	color: #384E80;
	padding: 1px 0 1px 5px;
}

ul.dropdown ul li a:visited {
	color: #384E80;
	background: white;
}

ul.dropdown ul li a:hover {
	color: white;
	background-color: #384E80;
	width: 98%;
}

/*  SECOND DROPDOWN */
ul.dropdown li:hover>ul {
	visibility: visible;
}

ul.dropdown ul ul {
	left: 100%;
	top: 0;
}

ul.dropdown ul li a {
	color: black !important;
}

ul.dropdown ul li:hover a {
	color: white !important;
}

a:link,a:visited {
	color: #589900;
	text-decoration: none;
}

a:hover,a:active {
	color: #384E80;
	text-decoration: underline;
}

a.raw-data-selector {
	margin-left: 10px;
	width: 100px;
}

a.raw-data-selector:hover {
	color: white;
	background-color: #384E80;
	width: 98%;
}

/* hover tooltips */
*.info {
	position: relative; /*this is the key*/
	z-index: 24;
	color: #000;
	text-decoration: none
}

*.info:hover {
	z-index: 25;
}

*.info span {
	display: none
}

*.info:hover span { /*the span will display just on :hover state*/
	display: block;
	position: absolute;
	top: 2em;
	left: 1em;
	width: 4em;
	border: 1px solid #159;
	background-color: #BBD9EE;
	color: #159;
	font-size: 0.9em;
	text-align: justify;
	padding-top: 2px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 2px;
}

*.info ul {
	background-color: #BBD9EE;
	color: #159;
	font-size: 1em;
	padding-right: 4px;
}

*.hidden {
	visibility: hidden;
}

*.table-text {
	color: #589900;
}

.map-legend {
 font-size:12px;
 padding-left:0px;
 height:391px;
}

.map-legend li {
    list-style:none;
    height:18px;
    padding-top:8px;
    padding-left:0px;
}

#map-view {
    position:relative;
}

table.about {
	cell-padding: 6px;
	width: 380px;
	text-align: justify;
}

table.raw-record {
	cell-padding: 6px;
}

table#header-logos {
	height: 64px;
	padding-left: 660px;
}

table#query-form {
	cell-padding: 6px;
	width: 600px;
	border-radius: 8px;
	border: 1px solid black;
	margin-bottom: 12px;
	background-color: #feeedb;
	position: relative;
	left: 50%;
	margin-left: -300px;
}

table#qstore-table {
	width: 600px;
	border-radius: 8px;
	border: 1px solid black;
	margin-bottom: 12px;
	padding: 4px;
	background-color: #feeedb;
}

table#qstore-table td.cb-col {
	width: 24px;
}

table#qstore-table tr.tr-odd {
	background-color: #eeeeee;
}

table#qstore-table tr.tr-evn {
	background-color: #dbffdb;
}

table#curr-query-form {
	cell-padding: 6px;
	width: 500px;
	border-radius: 8px;
	border: 1px solid black;
	margin-bottom: 12px;
	background-color: #feeedb;
}

table#ctl-table {
	margin-top: -10px;
	width: 666px;
}

th.pm-hdr {
	border: #817865;
	height: 26px;
	font-weight: normal;
	color: white;
	background-color: #817865;
}

td.td-name {
	text-align: right;
	vertical-align: top;
	width: 155px;
}

td.td-val {
	text-align: left;
	vertical-align: top;
}

td.td-num {
	text-align: right;
	padding-right: 5px;
}

td.td-value {
	color: dimgrey;
}

td#locationDescription {
	font-size: 0.7em;
	font-weight: bolder;
	vertical-align: top;
	color: rgb(0, 0, 0);
	padding: 0px 0.5em;
}

td.td-crud-name {
	text-align: right;
	vertical-align: top;
	width: 80px;
}

td.sel-name {
	width: 280px;
}

td.sel-state {
	width: 140px;
}

td.sel-cntry {
	width: 200px;
}

td.sel-accept {
	width: 160px;
	align: right;
}

input#q1 {
	width: 420px;
}

input#term {
	width: 360px;
}

input#qd1 {
	width: 462px;
}

input#author,#title,#from,#to,#languageText {
	width: 153px;
}

select#category,#l-languages {
	width: 153px;
}

span.sub-header {
	font-weight: bolder;
}

span.eg {
	font-weight: lighter;
}

span.help-button {
	background: white;
	border: solid 1px;
	border-radius: 6px;
}

span.menu-text {
	font-weight: bolder;
	font-family: "Lucida Console", Monaco, monospace;
}

input#add-locn-name {
	width: 200px;
}

input#add-locn-state {
	width: 60px;
}

input#add-locn-cntry {
	width: 160px;
}

li.help {
	padding-left: 0px;
	margin-left: 10px;
}

ul.lev2 {
	padding-left: 10px;
}

form#formHistory {
	cell-padding: 6px;
	width: 500px;
	border-radius: 8px;
	border: 1px solid black;
	margin-bottom: 12px;
	background-color: #feeedb;
	position: absolute;
	left: 50%;
	margin-left: -250px;
	margin-top: 50px;
}

select#optionList {
	width: 400px;
	height: 100px;
	position: relative;
	left: 50%;
	margin-left: -200px;
	margin-top: 15px;
}

#rdv-pb4 {
	border: 1px solid #D19405;
	color: #4C3000;
	background-color: #FECE2F;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

li#pin_14 { background:url(../images/14_sq.gif) left top repeat-y; }
li#pin_13 { background:url(../images/13_sq.gif) left top repeat-y; }
li#pin_12 { background:url(../images/12_sq.gif) left top repeat-y; }
li#pin_11 { background:url(../images/11_sq.gif) left top repeat-y; }
li#pin_10 { background:url(../images/10_sq.gif) left top repeat-y; }
li#pin_9 { background:url(../images/9_sq.gif) left top repeat-y; }
li#pin_8 { background:url(../images/8_sq.gif) left top repeat-y; }
li#pin_7 { background:url(../images/7_sq.gif) left top repeat-y; }
li#pin_6 { background:url(../images/6_sq.gif) left top repeat-y; }
li#pin_5 { background:url(../images/5_sq.gif) left top repeat-y; }
li#pin_4 { background:url(../images/4_sq.gif) left top repeat-y; }
li#pin_3 { background:url(../images/3_sq.gif) left top repeat-y; }
li#pin_2 { background:url(../images/2_sq.gif) left top repeat-y; }
li#pin_1 { background:url(../images/1_sq.gif) left top repeat-y; }
li#pin_0 { background:url(../images/0_sq.gif) left top repeat-y; }
#legend-key li:hover { background-color:#ECEAEA; cursor:pointer; border:1px solid #CCC; margin-left:0px; border-left:5px solid #CCC; height:16px; line-height:16px; }
#legend-key li.off { background-color:#ECEAEA; cursor:pointer; border:1px solid #CCC; margin-left:5px; border-left:1px solid #CCC; height:16px; line-height:16px; color:#666; }
#legend-key li.off:hover { background-color:#DCD9D9; cursor:pointer; border:1px solid #CCC; margin-left:5px; border-left:1px solid #CCC; height:16px; line-height:16px; }
#legend-key li { padding-left:25px; color:#000; }
#legend-key li:hover { cursor:pointer !important; }